html, body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#subway-circuit {
  align-content: center;
  width: 900px;
  height: 500px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

#sigma-circuit {
  position: fixed;
  width: 900px;
  height: 500px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  background: red;
}