body {
	font-family: 'helvetica', sans-serif;
}
ul>li {
	display: inline-block;
	list-style-type: none;
}

/* Table */
.column-selection {
	display: inline-flex;
	flex-wrap: wrap;
}
.column-checkbox {
	padding: 5px;
}